
@{
    ViewBag.Title = "Administrar_empresas";
    Layout = "~/Views/Shared_adm/_Layout.cshtml";
}
<br />
<br />
<br />
<h2>Administrar encargado de tienda</h2>

<a href="url">Agregar encargado de tienda</a>

<br />
<br />

<div>

    <center>

        <table style="width:100%">
            <tr>
                <th>ID</th>
                <th>Nombre</th>
                <th>RUT</th>
                <th>Región</th>
                <th>Provincia</th>
                <th>Comuna</th>
                <th>Dirección</th>
                <th>Acción</th>
            </tr>
            <tr>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>Jill</td>
                <td>Smith</td>
                <td>50</td>
                <td>Jill</td>
                <td><a href="url">Modificar</a> | <a href="url">Eliminar</a></i></td>
            </tr>
            
        </table> 

    </center>

</div>