
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h2>Administrador</h2>
<div >

    <center>
        <button type="button" style="width:350px" onclick="location.href = '~/Views/Administrador/Administrar_empresas' ">Administrar empresas</button>                 <br /><br />
        <button type="button" style="width:350px">Administrar encargados de empresa</button>    <br /><br />
        <button type="button" style="width:350px">Archivos BI</button>                          <br /><br />
    </center>
        
</div>
 

