
@{
    ViewBag.Title = "HomeAdministrador";
}

<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>

    <h2>HomeAdministrador</h2>

    <ul class="list-group list-group-flush">
        <li class="list-group-item">sergio hhhh</li>
        <li class="list-group-item">Dapibus ac facilisis in</li>
        <li class="list-group-item">Vestibulum at eros</li>
    </ul>
</body>

</html>




